<ion-view view-title="Komende 48 uur">
  <ion-content class="has-header has-footer">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
   </ion-refresher>
    <ion-list>
      <div ng-repeat="voorspelling in voorspellingen">
        <div ng-hide="voorspelling.day_text==''">
          <div class="item item-divider">{{voorspelling.day_text}}</div>
        </div>  
        <div class="item row h48">
          <div class="col">{{voorspelling.hour}} uur</div>
          <div class="col">{{voorspelling.temperature}}°C</div>
          <div class="col">{{voorspelling.precip_amount}}</div>
          <div class="col"><div class="weercijfer-{{voorspelling.score_value}}">{{voorspelling.score_value}}</div></div>
          <div class="col"><div class="{{voorspelling.forecast_css_class}}"></div></div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-balanced">
  <div class="title">{{update}}</div>
</div>
